/* Challenge 1,2,3,4,5 */
.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-colour, 
.flex-blackjack-row1, .flex-blackjack-row2, .flex-blackjack-row3 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
/* -------------------------------------------- */

/* Challenge 1 */
.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
}
/* -------------------------------------------- */

/* Challenge 2 */
.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}
.button-container {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
/* -------------------------------------------- */

/* Challenge 3 */
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}
/* -------------------------------------------- */

/* Challenge 5 */
.flex-blackjack-row1 {
    background: url("https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1073.jpg") center;
    color: white;
}

.flex-blackjack-row1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

.flex-blackjack-row1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row2 {
    background: url("https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1073.jpg") bottom;
    color: white;
}

.flex-blackjack-row2 button {
    border:1px solid black;
    padding: 10px;
}

.flex-blackjack-row2 div{
    border: 1px solid black;
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}
